*{
margin: 0px;
padding: 0px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', arial, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    text-decoration: none;
}

    /*HEADER SUPERIOR*/
    /* .header__superior{
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    } */

    .logo img{
        width: 150px;
    }
    .logo{
        margin-top: -40px;
    }
        /*BARRA MENU*/

        .container__menu{
            justify-content: left;
            width: 100%;
            height: 70px;
            background: #13024A;
            padding: 0px 20px;
        }

        .menu{
            display: flex;
            max-width: 1200px;
            margin:auto;
            height: 100%;
        }

        nav {
            height: 100%;
        }
        nav > ul{
            height: 100%;
            display: flex;
            justify-content: center;
        }
    
        nav > ul > li{
            height: 100%;
            list-style: none;
            position: relative;
        }

        nav > ul > li > a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 14px;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            transition: all 300ms ease;
        }
        nav > ul > li > a:hover{
            /* transform: scale(1.1); */
            background: #0074C7;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        }
        #selected{
            /* transform: scale(1.1);  */
            background-color: #0074C7;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
            color: white;
        }

        nav ul li ul{
            width: 200px;
            display: flex;
            flex-direction: column;
            background: #FFFFFF;
            position:absolute;
            top:90px;
            left: -5px;
            padding: 14px 0px;
            visibility: hidden;
            opacity: 0; 
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
            z-index: 10;
            transition: all 300ms ease;
            list-style: none;
        }

    /*          *        ELEMENTOS RESPONSIVOS          *             */

        .menu i{
            font-size: 30px;
            color: white;
            cursor: pointer;
            width: 26px;
            height: 100%;
            align-items: center;
        }

        .menu i{
            width: 26px;
            height: 100%;
            display: none;
            padding-top: 20px;
        }
        #check__menu{
            display: none;
        }

        .what{
                position: fixed;
                bottom: 5px;
                left: 5px;
                text-decoration: none;
                font-size: 20px;
        }

        .reg{
            position: fixed;
            bottom: 5px;
            right: 5px;
            border-radius: 50%;
            border-style: solid;
            border-width: 900;
            background-color: #13024A;
            color: #FFFFFF;
            padding: 5px 10px 5px 10px;
            text-decoration: none;
        }

        .reg i{
            font-size: 35px;
            }

            article{
            max-width: 1200px;
            margin: 20px auto;
            background: #FFFFFF;
            font-size: 14px;
            padding: 10px;
            }
            
            article p{
            margin-top: 20px;
            font-size: 19px;
            font-weight: 300;
            font-size: 14px;
            }
            .mapa{
                display: flex;
                width: 100vw;
                justify-content: center;
            }
            .mapa iframe{
                width: 100vw;
                max-width: 1200px;
            }
            footer {
                background-color: #13024A;
                color: #FFFFFF;
                text-align: center;
                padding: 10px;
                height: 237px;
            }  
            .copy{
                display: flex;
                justify-content:space-around;
                flex-wrap: wrap;
            }          
    /* -------------------------------------- Media qry ---------------------- */
    @media screen and (max-width: 720px){
        .search input{
            display: none;
        }
        
        .header--superior{
            padding: 10px;
        }

        .logo img{
            width: 150px;
        }

        nav > ul{
        flex-direction: column;
        background-color: #13024A;
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        }

        nav > ul > li > a:hover{
        transform: scale(1);
        }

        nav ul li ul{
        left: 90px;
        }
        nav > ul >li:hover ul{
        top: 50px;
        }

        nav > ul > li:first-child a{
        background-position: 20px;
        }

        #selected{
        transform: scale(1);
        }

        #label__check{
        display: block;
        }   

        .menu i{
        display:block;
        visibility: visible;
        }

        #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;

        }       
        .menu i{
        display:block;
        visibility: visible;
        } 

        main{
        margin-top: 0px;
        }    

        .logo{
            margin-bottom: -50px;
        }
        footer {
            padding-top: 0px;
        }
        .copy{
            display: flex;
            gap: 20px;
            justify-content:center;
            flex-wrap: wrap;
            margin-bottom: 0px;
        } 
    }